
  <%= form_tag sessions_path, :id => 'login_form', :class => 'login_form' do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
